*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store

# directories #
certfiles/
target/
logs/
bin/

# eclipse related #
.settings
.classpath
.project

#buildinfo
build.parameters/buildinfo.properties

**/*.bak

start_local.sh
