<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lge.stark.eddard.mybatis.RoomUserMapMapper" >

  <resultMap id="BaseResultMap" type="com.lge.stark.eddard.model.RoomUserMap" >
    <id column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    room_id, user_id
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.lge.stark.eddard.model.RoomUserMap" >
    SELECT room_id, user_id
    FROM room_user_map
    where 1=1
    AND room_id = #{roomId,jdbcType=VARCHAR}
    AND	user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.lge.stark.eddard.model.RoomUserMap" >
    INSERT INTO room_user_map (room_id, user_id)
    VALUES (
    	#{roomId,jdbcType=VARCHAR},
    	#{userId,jdbcType=VARCHAR}
    	)
  </insert>
  
  <delete id="delete" parameterType="com.lge.stark.eddard.model.RoomUserMap" >
    DELETE FROM room_user_map
    WHERE 1=1
    AND	room_id = #{roomId,jdbcType=VARCHAR}
    AND	user_id = #{userId,jdbcType=VARCHAR}
  </delete>
</mapper>