<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lge.stark.eddard.mybatis.RoomMapper" >

  <resultMap id="BaseResultMap" type="com.lge.stark.eddard.model.Room" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, secret_key, create_date
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT	id, name, secret_key, create_date
    FROM	room
    WHERE	1=1
    AND		id = #{id,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSelective" parameterType="com.lge.stark.eddard.model.Room" >
    INSERT INTO room
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id, name, secret_key, create_date
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null">
      	#{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE 
    FROM	room
    WHERE	1=1
    AND		id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.lge.stark.eddard.model.Room" >
    UPDATE room
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="secretKey != null" >
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE 	1=1
    AND		id = #{id,jdbcType=VARCHAR}
  </update>  
</mapper>